@using Microsoft.AspNetCore.Identity
@using AuroraRD.Areas.Identity.Data

@inject SignInManager<SampleUser> SignInManager
@inject UserManager<SampleUser> UserManager

<ul class="navbar-nav" id="white">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item" id="white">
        <a id="manage" class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
    </li>
    <li class="nav-item" id="white">
        <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button id="logout" type="submit" class="nav-link btn btn-link text-dark">Logout</button>
        </form>
    </li>
}

</ul>
