@model AuroraRD.Models.Rootobject

@{
    ViewData["Title"] = "View";
}

<h1>Fiestas</h1>

<h4>Ingresa tu nueva fiesta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <!-- Cambiado a 'Create' -->
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nombreFiesta" class="control-label" style="font-weight: bold; font-size: 16px; color: #e74c3c;">Ingresa el nombre de la fiesta:</label>
                <input asp-for="nombreFiesta" class="form-control" />
                <span asp-validation-for="nombreFiesta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="imagen" class="control-label" style="font-weight: bold; font-size: 16px; color: #3498db;">Ingresa el URL del Flyer de tu imagen:</label>
                <input asp-for="imagen" class="form-control" />
                <span asp-validation-for="imagen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <button type="button" class="btn btn-secondary" onclick="history.go(-1);">Volver</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


