@{
    ViewData["Title"] = "Aurora Home Page";
}

<div class="text-center">
   
    <h1 class="display-4"> <strong>AURORA</strong></h1>
    <br />
    <p>Inicia sesion para realizar las reservas</p>
</div>
