@{
    ViewData["Title"] = "Aurora Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>AURORA</strong></h1>
    <br />
    <p>BIENVENIDO</p>
</div>
<br />
<br />
<div class="contenedor">
    <ul id="miLista">
        <li id="elemLista">
            <a asp-action="View" asp-controller="IngresoFiestas" class="btn btn-primary" style="margin-right: 10px;">Crear una nueva Fiesta</a>
        </li>
        <li>
            <a asp-action="Views" asp-controller="VerReservita" class="btn btn-success" id="VerReservas">Ver Reservas</a>
        </li>
       
    </ul>
</div>


