@{
    ViewData["Title"] = "Aurora Home Page";
}

<div class="text-center">
    <h1 class="display-4">AURORA</h1>
    <br />
    <p>BIENVENIDO</p>
</div>
<br />
<br />
<div class="contenedor">
    <ul id="miLista">
        <li id="elemLista">
            <a  asp-area="" asp-controller="Reservas" asp-action="Index">Generar reserva</a>
        </li>
        <li>
            <a asp-area="" asp-controller="Reservas" asp-action="Index">Dejar una Reseña</a>
        </li>
       
    </ul>
</div>