html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.contenedor {
    text-align:center;
}
#miLista li {
    display: inline-block;
    margin-right: 10px;
}
#miLista {
    list-style-type: none;
    color: black;

}